@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased bg-cyber-black text-neon-green font-mono overflow-x-hidden;
    cursor: crosshair;
    /* Fallback */
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-cyber-black;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neon-green/30 hover:bg-neon-green;
  }

  /* Selection */
  ::selection {
    @apply bg-neon-green text-cyber-black;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 5px currentColor;
  }

  .bg-grid {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgba(0, 255, 65, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 255, 65, 0.05) 1px, transparent 1px);
  }

  .scanlines::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
}